simulation-tools/

myserver-backend_trunk/.gradle
myserver-backend_trunk/.idea
myserver-backend_trunk/out
myserver-backend_trunk/gradlew
myserver-backend_trunk/gradlew.bat
myserver-backend_trunk/myserver-backend_trunk.iml
myserver-backend_trunk/myserver-backend_trunk.ipr
myserver-backend_trunk/myserver-backend_trunk.iws
myserver-backend_trunk/myserver/*/build
myserver-backend_trunk/myserver/*/*.iml
myserver-backend_trunk/myserver/rest-api/src/mainGeneratedDataTemplate
myserver-backend_trunk/myserver/rest-api/src/mainGeneratedRest

restful-test/rest-client/.gradle
restful-test/rest-client/.idea
restful-test/rest-client/build
restful-test/rest-client/out
restful-test/rest-client/gradle
restful-test/rest-client/gradlew
restful-test/rest-client/gradlew.bat
restful-test/rest-client/rest-client.iml
restful-test/rest-client/rest-client.ipr
restful-test/rest-client/rest-client.iws

zookeeper/*/.gradle
zookeeper/*/.idea
zookeeper/*/build
zookeeper/*/out
zookeeper/*/gradle
zookeeper/*/gradlew
zookeeper/*/gradlew.bat
zookeeper/*/*.iml
zookeeper/*/*.ipr
zookeeper/*/*.iws

avro/*/.gradle
avro/*/.idea
avro/*/build
avro/*/out
avro/*/gradle
avro/*/gradlew
avro/*/gradlew.bat
avro/*/*.iml
avro/*/*.ipr
avro/*/*.iws

kafka-test/
