<?xml version="1.0" encoding="UTF-8"?><beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                                             xmlns:context="http://www.springframework.org/schema/context"
                                             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
  http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
                                             default-lazy-init="true">

    <!-- oracle jdbc db -->
    <bean id="spiderReadDao" class="com.rockyzhu.myserver.oracle.db.SpiderReadDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="spiderWriteDao" class="com.rockyzhu.myserver.oracle.db.SpiderWriteDaoImpl">
        <constructor-arg ref="dataSource"/>
    </bean>

    <bean id="dataSource" class="com.rockyzhu.myserver.oracle.db.DataSourceFactory" factory-method="getDataSource">
        <constructor-arg name="allProperties" ref="allProperties"/>
    </bean>

    <bean id="allProperties" class="com.rockyzhu.myserver.config.PropertiesFactory" factory-method="getProperties">
        <!--property     name="relativePath" value="/config/application.properties"-->
        <constructor-arg name="relativePath" value="/config/application.properties" />
    </bean>
</beans>